*.s#*
*.b#*
*.gpi
*.dri
*.png
fpga/fpga.gise
fpga/iseconfig/*
fpga/_xmsgs/*
fpga/xst/*
fpga/_ngo/*
fpga/*.html
fpga/*.bgn
fpga/*.bld
fpga/*.cmd_log
fpga/*.drc
fpga/*.lso
fpga/*.ncd
fpga/*.ngc
fpga/*.ngd
fpga/*.ngr
fpga/*.pad
fpga/*.par
fpga/*.pcf
fpga/*.prj
fpga/*.ptwx
fpga/*.stx
fpga/*.syr
fpga/*.twr
fpga/*.twx
fpga/*.unroutes
fpga/*.ut
fpga/*.xpi
fpga/*.xst
fpga/*.xwbt
fpga/*.map
fpga/*.mrp
fpga/*.ngm
fpga/*.xrpt
fpga/*.csv
fpga/*.txt
fpga/*.xml
fpga/*.log
*.xbcd
